@font-face {
  font-family: Gilroy-Regular;
  src: url(/static/fonts/gilroy-regular.ttf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(/static/fonts/gilroy-medium.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(/static/fonts/gilroy-bold.ttf);
}

body {
	margin: 0;
}

body, button, input[type="text"]::placeholder, input[type="text"], p, body * {
	font-family: "Gilroy-Regular";
}

h1, h2, h3, h4, h5, h6, b {
    font-family: "Gilroy-Medium"
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_content {
    flex: 1;
    min-height: 100vh;
}

.footer-block {
    flex-shrink: 0;
	background-color: #272727;
	height: 280px;
	margin-top: 100px;
	padding-top: 50px;
}


.block {
	width: 100%;
	overflow: hidden;
}

.container {
	width: 1100px;
	margin: 40px auto 10px auto;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.navbar-block {
    box-shadow: 0px -1px 3px 0px gray;
    overflow: initial;
}

.navbar-container {
	display: flex;
	height: 70px;
	position: relative;
	margin-top: 0px;
	align-items: center;
}

.navbar-container .logo-img {
	height: 30px;
	margin-right: 80px;
}

.hamburger-menu {
	margin-left: auto;
	z-index: 10;
	cursor: pointer;
	display: none;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 7px 0;
    transition: 0.6s;
}

.hamburger-menu.active_hamburger .bar {
    background-color: white;
}

.hamburger-menu.active_hamburger .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 7px);
}

.hamburger-menu.active_hamburger .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active_hamburger .bar:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -7px);
}

.burger {
    position: fixed;
    z-index: 9;

    top: -40px;
    right: -45px;

    width: 70%;
    height: calc(100vh - 40px);

    padding-top: 80px;
    padding-left: 45px;

    background: #4ebda3;
    color: white;

    transform: translateY(-100%);
    transition: transform 0.8s 0s;
}

.hamburger-menu.active_hamburger + .burger {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    transform: translateY(0);
    transition: transform 0.8s 0s;
}

.burger-container * {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
}

.burger-container.active_burger * {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.5s, transform 0.5s;
}

.burger h3 {
    margin-bottom: 0px;
}

.burger a {
    text-decoration: none;
    color: white;
}

.burger a::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: white;
  transition: 0.4s;
}

.burger a:hover::after {
  width: 100%;
}

.loading_block {
    display: none;
    position: fixed;
    width: 100vw;
    top: 40%;
}

.loading_block.active_loading_block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loader {
    border: 16px solid #e3e3e3;
    border-top: 16px solid #000000;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.navbar-container .navigation a {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.navbar-container .leave_request_btn {
    cursor: pointer;
    margin-left: auto;
    background-color: #53C0A9;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    font-size: 17px;
    color: #303030;
}


.footer-container img {
    width: 240px;
    height: 63px;
}

.footer-container {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    color: white;
}

.footer-container h2 {
    margin-top: 0;
}

.footer-container p {
    font-size: 20px;
    margin: 7px 0;
}

.footer-container a {
    text-decoration: none;
    color: white;
}

.burger-container .leave_request_btn {
    cursor: pointer;
    background-color: #000000c2;
    color: white;
    font-size: 20px;
}
