.product_info .more_info {
    display: flex;
    gap: 30px;
}

.product_info .more_info .product_image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    min-width: 300px;
    height: 350px;
    box-shadow: 0 0 3px 0 #c9c9c9;
    border: none;
    border-radius: 10px;
}

.product_info .more_info .text h2 {
    margin-top: 0;
}

.product_info .more_info .text p {
    margin: 7px 0;
}

.product_info .more_info .text .buy {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.product_info .more_info .text .buy button {
    background-color: #42b8a0;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    color: white;
    font-size: 22px;
}

.product_info .more_info .text .buy h2 {
    margin: 0;
}

.product_page .main_page_leave_request_container {
    opacity: 1;
    transform: translate(0, 0)
}

.product_info b, .product_info h1, .product_info h2, .product_info h3 {
    font-family: Gilroy-Bold;
}

.product_info .more_info .text .characteristics_title {
    margin-top: 25px;
    margin-bottom: 0;
}

.product_info .more_info .text .description ul {
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.product_info .more_info .text .description ul li {
    margin-bottom: 5px;
}

.product_info .more_info .text .description ul li strong {
    font-family: 'Gilroy-Bold';
    margin-right: 3px;
}