.service-images .images-list {
    overflow-x: auto;

}

.service-images .images-list .images {
    display: flex;
    gap: 10px;
}

.service-images .images-list .images .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-width: 220px;
    height: 270px;

    box-shadow: 0 0 10px 0px #c1bfbf;
    cursor: pointer;
}

.service-images .images-list .images .image:hover {
    opacity: 0.7;
}

.service-images {
    position: relative;
}

.service-images .prev_btn, .service-images .next_btn, #myModal .prev_btn, #myModal .next_btn {
    cursor: pointer;
    position: absolute;
    background-color: #53C0A9;

    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    top: 40%;
}

.service-images .prev_btn {
    left: -30px;
}

.service-images .next_btn {
    right: -30px;
}

#myModal .prev_btn {
    left: 5%;
}

#myModal .next_btn {
    right: 5%;
}

.service-images .bar-btt, .service-images .bar-ttb, #myModal .bar-btt, #myModal .bar-ttb {
    width: 15px;
    height: 3px;
    background-color: black;
    margin: 7px 0;
    transform: rotate(-45deg) translate(3px, 4px);
}

.service-images .bar-ttb, #myModal .bar-ttb {
    transform: rotate(45deg) translate(3px, -4px);
}

.service-images .next_btn .bar-btt, .service-images .next_btn .bar-ttb, #myModal .next_btn .bar-btt, #myModal .next_btn .bar-ttb {
    width: 15px;
    height: 3px;
    background-color: black;
    margin: 7px 0;
    transform: rotate(-45deg) translate(6px, 5px);
}

.service-images .next_btn .bar-ttb, #myModal .next_btn .bar-ttb {
    transform: rotate(45deg) translate(6px, -5px);
}

@media(max-width: 500px) {
    .service-images .prev_btn {
        left: -20px;
    }

    .service-images .next_btn {
        right: -20px;
    }

    #myModal .prev_btn {
        left: 1.5%;
    }

    #myModal .next_btn {
        right: 1.5%;
    }
}



#myModal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 25;
    cursor: pointer;
}

#myModal .prev_btn, #myModal .next_btn {
    z-index: 25;
    top: initial;
}

#myModal .modal-content {
    max-height: 85vh;
    max-width: 85vw;
}

#myModal .modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.pre_service_name_block {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    min-height: fit-content;
    margin-bottom: 5px;
}
