<div class="main_content">
    <div class="block navbar-block">
        <div class="container navbar-container">
            <a href="/">
                <img class="logo-img" src="/static/imgs/logo.png" alt="">
            </a>

            <div class="navigation">
                <a href="/">Главная</a>
                <a href="/services/">Услуги</a>
                <a href="/store/">Магазин</a>
                <a href="/about_us/">О нас</a>
            </div>

            <button class="leave_request_btn">Оставить заявку</button>

            <div class="hamburger-menu" onclick="open_burger()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>

            <div class="burger">
                <div class="burger-container">
                    <h2><a href="/">Главная</a></h2>
                    <h2><a href="/services/">Услуги</a></h2>
                    <h2><a href="/store/">Магазин</a></h2>
                    <h2><a href="/about_us/">О нас</a></h2>
                    <button class="leave_request_btn" style="display: block">Оставить заявку</button>
                </div>
            </div>
        </div>
    </div>

    {% block body %}
    {% endblock %}
</div>

<div class="block footer-block">
    <div class="container footer-container">
        <div class="logo-img">
            <img src="/static/imgs/logo-img.png" alt="">
        </div>

        <div class="contacts">
            <h2>Контакты</h2>
            <p>kantaimaksat03@gmail.com</p>
            <p>+77779185334</p>
        </div>

        <div class="navigation">
            <h2>Компания</h2>
            <p><a href="/">Главная</a></p>
            <p><a href="/services/">Услуги</a></p>
            <p><a href="/store/">Магазин</a></p>
            <p><a href="/about_us/">О нас</a></p>
        </div>
    </div>
</div>