<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grace Agency</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/main_page.css">
    <!--  ALL STYLES HERE  -->

    <script src="/static/js/packages/axios.min.js"></script>
</head>
<body>
    <div class="loading_block">
        <div class="loader"></div>
    </div>

    <div class="body"></div>


    <!--  ALL SCRIPTS HERE  -->
    <script src="/static/js/base.js"></script>
    <script src="/static/js/main_page.js"></script>
</body>
</html>