<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/imgs/icon.png">

    <title>Grace Agency</title>

    <link rel="stylesheet" href="/static/css/pagination.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/main_page.css">
    <link rel="stylesheet" href="/static/css/services_page.css">
    <link rel="stylesheet" href="/static/css/service_page.css">
    <link rel="stylesheet" href="/static/css/product_page.css">
    <link rel="stylesheet" href="/static/css/about_us_page.css">
    <link rel="stylesheet" href="/static/css/store_page.css">
    <link rel="stylesheet" href="/static/css/media_base.css">
    <link rel="stylesheet" href="/static/css/media_main_page.css">
    <link rel="stylesheet" href="/static/css/media_services_page.css">
    <link rel="stylesheet" href="/static/css/media_product_page.css">
    <link rel="stylesheet" href="/static/css/media_store_page.css">
    <link rel="stylesheet" href="/static/css/media_about_us_page.css">
    <!--  ALL STYLES HERE  -->

    <script src="/static/js/packages/jquery.min.js"></script>
    <script src="/static/js/packages/axios.min.js"></script>
    <script src="/static/js/packages/pagination.js"></script>
    <script src="/static/js/packages/vue.global.prod.js"></script>
	<script src="/static/js/packages/vue-cookies.js"></script>
	<script src="/static/js/packages/sweetalert2.all.min.js"></script>
</head>
<body>
    <div class="loading_block">
        <div class="loader"></div>
    </div>

    <div class="body"></div>


    <!--  ALL SCRIPTS HERE  -->
    <script src="/static/js/base.js"></script>
    <script src="/static/js/main_page.js"></script>
    <script src="/static/js/service_page.js"></script>
    <script src="/static/js/services_page.js"></script>
    <script src="/static/js/store_page.js"></script>
    <script src="/static/js/product_page.js"></script>
    <script src="/static/js/about_us_page.js"></script>
</body>
</html>