<div class="block">
    <div class="container partners_info">
        <h1 class="header">Нам доверяют</h1>

        <div class="partners_list">
            <div class="partner_card" style="background-image: url(/static/imgs/partner1.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner3.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner2.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner4.png)"></div>

            <div class="partner_card" style="background-image: url(/static/imgs/partner5.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner6.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner7.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner8.png)"></div>
        </div>
    </div>
</div>