<div class="block">
    <div class="container partners_info">
        <h1 class="header">Нам доверяют</h1>

        <div class="partners_list">
            <div class="partner_card" style="background-image: url(/static/imgs/partner_flyarystan.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner_bcc.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner_evrika.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner_kaspi.png)"></div>

            <div class="partner_card" style="background-image: url(/static/imgs/partner_dostyk.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner_alter.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner_yandex.png)"></div>
            <div class="partner_card" style="background-image: url(/static/imgs/partner_capital_city.png)"></div>
        </div>
    </div>
</div>