{% extends 'base_body.html' %}

{% block body %}


<span style="display: none" id="page_title">Grace Agency</span>
<button style="display: none" onclick="main_page_loaded()" id="page_loaded_js_function"></button>

<div class="block">
    <div class="container main_page_info">
        <div class="info">
            <h1>Изготовливаем материалы для вашей рекламы.</h1>
            <p class="sub-header">Мы изготавливаем объёмные буквы, стенды, световые коробы и многое другое с гарантией качества и сроков.</p>
            <div class="statistics">
                <div>
                    <h2>3+ года</h2>
                    <p>на рынке</p>
                </div>
                <div>
                    <h2>3+ года</h2>
                    <p>на рынке</p>
                </div>
                <div>
                    <h2>3+ года</h2>
                    <p>на рынке</p>
                </div>
                <div>
                    <h2>3+ года</h2>
                    <p>на рынке</p>
                </div>
            </div>
        </div>

        <div class="banner">
            <div class="choices_us">
                <img src="/static/imgs/choices_us_companies.png" alt="">
                <p>100+ компании выбирают нас</p>
            </div>
        </div>
    </div>
</div>


<div class="after_main_page_info">
    <div class="block">
        <div class="container services_info">
            <h1>Наши услуги</h1>
            {% include 'services.html' %}
        </div>
    </div>

    <div class="block">
        <div class="container products_info">
            <h1>Наш магазин</h1>
            <p>На нашем онлайн магазине вы можете приобрести орг. техники по самым вкусным ценам ))</p>
            
            <div class="products_list">
                <div class="product_card">
                    <div class="product_img" style="background-image: url(/static/imgs/product_img.png);"></div>
                    <div class="text">
                        <div class="pre_product_name_block">
                            <h4>Принтер Epson L1800...</h4>
                        </div>
                        <div class="after_product_name_block">
                            <p>Код товара: 777777</p>
                            <h3>440.000 tg</h3>
                            <button><span>купить</span></button>
                        </div>
                    </div>
                </div>
                <div class="product_card">
                    <div class="product_img" style="background-image: url(/static/imgs/product_img2.png);"></div>
                    <div class="text">
                        <div class="pre_product_name_block">
                            <h4>Product Name</h4>
                        </div>
                        <div class="after_product_name_block">
                            <p>32 types</p>
                            <h3>440.000 tg</h3>
                            <button><span>купить</span></button>
                        </div>
                    </div>
                </div>
                <div class="product_card">
                    <div class="product_img" style="background-image: url(/static/imgs/product_img3.png);"></div>
                    <div class="text">
                        <div class="pre_product_name_block">
                            <h4>Product Name</h4>
                        </div>
                        <div class="after_product_name_block">
                            <p>32 types</p>
                            <h3>440.000 tg</h3>
                            <button><span>купить</span></button>
                        </div>
                    </div>
                </div>
                <div class="product_card">
                    <div class="product_img" style="background-image: url(/static/imgs/product_img4.png);"></div>
                    <div class="text">
                        <div class="pre_product_name_block">
                            <h4>Product Name</h4>
                        </div>
                        <div class="after_product_name_block">
                            <p>32 types</p>
                            <h3>440.000 tg</h3>
                            <button><span>купить</span></button>
                        </div>
                    </div>
                </div>
                <div class="product_card">
                    <div class="product_img" style="background-image: url(/static/imgs/product_img5.png);"></div>
                    <div class="text">
                        <div class="pre_product_name_block">
                            <h4>Product Name</h4>
                        </div>
                        <div class="after_product_name_block">
                            <p>32 types</p>
                            <h3>440.000 tg</h3>
                            <button><span>купить</span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="go_to_store">
                <button><span>Перейти в магазин</span></button>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="container partners_info">
            <h1>Нам доверяют</h1>
            
            <div class="partners_list">
                <div class="partner_card" style="background-image: url(/static/imgs/partner1.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner3.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner2.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner4.png)"></div>

                <div class="partner_card" style="background-image: url(/static/imgs/partner5.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner6.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner7.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner8.png)"></div>
            </div>
        </div>
    </div>

    {% include 'request_form.html' %}
</div>
{% endblock %}
