{% extends 'base_body.html' %}

{% block body %}


<span style="display: none" id="page_title">Grace Agency</span>
<button style="display: none" onclick="main_page_loaded()" id="page_loaded_js_function"></button>

<div class="block">
    <div class="container main_page_info">
        <div class="info">
            <h1 class="custom_header">Изготовливаем материалы для вашей рекламы.</h1>
            <p class="sub-header">Мы изготавливаем объёмные буквы, стенды, световые коробы и многое другое с гарантией качества и сроков.</p>
            <div class="statistics">
                <div>
                    <h2>{{ information_on_site.statistics.ceil1 }} года</h2>
                    <p>на рынке</p>
                </div>
                <div>
                    <h2>{{ information_on_site.statistics.ceil2 }}</h2>
                    <p>постоянных клиентов</p>
                </div>
                <div>
                    <h2>{{ information_on_site.statistics.ceil3 }}</h2>
                    <p>заказов</p>
                </div>
                <div>
                    <h2>{{ information_on_site.statistics.ceil4 }}</h2>
                    <p>кв.м площади производств</p>
                </div>
            </div>
        </div>

        <div class="banner">
            <div class="choices_us">
                <img src="/static/imgs/choices_us_companies.png" alt="">
                <p>{{ information_on_site.statistics.ceil5 }} компании выбирают нас</p>
            </div>
        </div>
    </div>
</div>


<div class="after_main_page_info">
    <div class="block">
        <div class="container services_info">
            <h1 class="header">Наши услуги</h1>
            {% include 'services.html' %}
        </div>
    </div>

    <div class="block">
        <div class="container products_info">
            <h1 class="header">Наш магазин</h1>
            <p>На нашем онлайн магазине вы можете приобрести орг. техники по самым вкусным ценам ))</p>

            {% include 'products.html' %}

            <div class="go_to_store">
                <a href="/store/"><span>Перейти в магазин</span></a>
            </div>
        </div>
    </div>

    {% include 'clients.html' %}

    {% include 'request_form.html' %}
</div>
{% endblock %}
