{% extends 'base_body.html' %}

{% block body %}


<span style="display: none" id="page_title">Grace Agency</span>
<button style="display: none" onclick="main_page_loaded()" id="page_loaded_js_function"></button>

<div class="block">
    <div class="container main_page_info">
        <div class="info">
            <h1>Изготовливаем материалы для вашей рекламы.</h1>
            <p class="sub-header">Мы изготавливаем объёмные буквы, стенды, световые коробы и многое другое с гарантией качества и сроков.</p>
            <div class="statistics">
                <div>
                    <h2>{{ information_on_site.statistics.ceil1 }} года</h2>
                    <p>на рынке</p>
                </div>
                <div>
                    <h2>{{ information_on_site.statistics.ceil2 }} года</h2>
                    <p>на рынке</p>
                </div>
                <div>
                    <h2>{{ information_on_site.statistics.ceil3 }} года</h2>
                    <p>на рынке</p>
                </div>
                <div>
                    <h2>{{ information_on_site.statistics.ceil4 }} года</h2>
                    <p>на рынке</p>
                </div>
            </div>
        </div>

        <div class="banner">
            <div class="choices_us">
                <img src="/static/imgs/choices_us_companies.png" alt="">
                <p>{{ information_on_site.statistics.ceil5 }} компании выбирают нас</p>
            </div>
        </div>
    </div>
</div>


<div class="after_main_page_info">
    <div class="block">
        <div class="container services_info">
            <h1>Наши услуги</h1>
            {% include 'services.html' %}
        </div>
    </div>

    <div class="block">
        <div class="container products_info">
            <h1>Наш магазин</h1>
            <p>На нашем онлайн магазине вы можете приобрести орг. техники по самым вкусным ценам ))</p>

            {% include 'products.html' %}

            <div class="go_to_store">
                <a href="/store/"><span>Перейти в магазин</span></a>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="container partners_info">
            <h1>Нам доверяют</h1>
            
            <div class="partners_list">
                <div class="partner_card" style="background-image: url(/static/imgs/partner1.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner3.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner2.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner4.png)"></div>

                <div class="partner_card" style="background-image: url(/static/imgs/partner5.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner6.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner7.png)"></div>
                <div class="partner_card" style="background-image: url(/static/imgs/partner8.png)"></div>
            </div>
        </div>
    </div>

    {% include 'request_form.html' %}
</div>
{% endblock %}
