{% load humanize %}

<div class="products_list">
    {% for product in products %}
    <a href="/product/{{ product.id }}/" class="product_card">
        <div class="product_img" style="background-image: url({{ product.poster }});"></div>
        <div class="text">
            <div class="pre_product_name_block">
                <h4>{{ product.name }}</h4>
            </div>
            <div class="after_product_name_block">
                <p>Код товара: {{ product.code }}</p>
                <h3>{{ product.price|intcomma }} тг</h3>
                <button><span>купить</span></button>
            </div>
        </div>
    </a>
    {% endfor %}
</div>