{% load humanize %}

<div class="products_list">
    {% for product in products %}
    <a href="/product/{{ product.id }}/" class="product_card">
        <div class="product_img" style="background-image: url({{ product.poster }});"></div>
        <div class="text">
            <div class="pre_product_name_block">
                <h4>{{ product.name }}</h4>
            </div>
            <div class="pre_product_code_block">
                <p>Код товара: {{ product.code }}</p>
            </div>
            <div class="after_product_name_block">
                <h3>{{ product.price|intcomma }} тг</h3>
                <button onclick="open_buy_form({{ product.id }}, '{{ product.name }}', '{{ product.poster }}', '{{ product.price }}', '{{ product.code }}')" onmouseover="disable_anchors()" onmouseout="enable_anchors()"><span>купить</span></button>
            </div>
        </div>
    </a>
    {% endfor %}
</div>