<div class="products_list">
    <a href="/product/" class="product_card">
        <div class="product_img" style="background-image: url(/static/imgs/product_img.png);"></div>
        <div class="text">
            <div class="pre_product_name_block">
                <h4>Принтер Epson L1800...</h4>
            </div>
            <div class="after_product_name_block">
                <p>Код товара: 777777</p>
                <h3>440.000 tg</h3>
                <button><span>купить</span></button>
            </div>
        </div>
    </a>
    <a href="/product/" class="product_card">
        <div class="product_img" style="background-image: url(/static/imgs/product_img2.png);"></div>
        <div class="text">
            <div class="pre_product_name_block">
                <h4>Product Name</h4>
            </div>
            <div class="after_product_name_block">
                <p>32 types</p>
                <h3>440.000 tg</h3>
                <button><span>купить</span></button>
            </div>
        </div>
    </a>
    <a href="/product/" class="product_card">
        <div class="product_img" style="background-image: url(/static/imgs/product_img3.png);"></div>
        <div class="text">
            <div class="pre_product_name_block">
                <h4>Product Name</h4>
            </div>
            <div class="after_product_name_block">
                <p>32 types</p>
                <h3>440.000 tg</h3>
                <button><span>купить</span></button>
            </div>
        </div>
    </a>
    <a href="/product/" class="product_card">
        <div class="product_img" style="background-image: url(/static/imgs/product_img4.png);"></div>
        <div class="text">
            <div class="pre_product_name_block">
                <h4>Product Name</h4>
            </div>
            <div class="after_product_name_block">
                <p>32 types</p>
                <h3>440.000 tg</h3>
                <button><span>купить</span></button>
            </div>
        </div>
    </a>
    <a href="/product/" class="product_card">
        <div class="product_img" style="background-image: url(/static/imgs/product_img5.png);"></div>
        <div class="text">
            <div class="pre_product_name_block">
                <h4>Product Name</h4>
            </div>
            <div class="after_product_name_block">
                <p>32 types</p>
                <h3>440.000 tg</h3>
                <button><span>купить</span></button>
            </div>
        </div>
    </a>
</div>