{% extends 'base_body.html' %}

{% block body %}

<span style="display: none" id="page_title">Product Name</span>
<button style="display: none" onclick="product_page_loaded()" id="page_loaded_js_function"></button>


<div class="block">
    <div class="container product_info">
        <h1>Product Name</h1>

        <div class="more_info">
            <div class="product_image" style="background-image: url(/static/imgs/product_img.png)"></div>

            <div class="text">
                <h2>About Product</h2>
                <p><b>Категория</b>: QWERTY</p>
                <p><b>CODE</b>: QWERTY</p>
                <p><b>BRAND</b>: ASDFZXC</p>
                <p><b>Descripion</b>:</p>

                <div class="description" style="margin-top: 5px;">
                    kodjknsrewkpql[kojn kmklkwoijhbjo2pwkmejn pl;kodjknsrewkpql[kojn kmklkwoijhbjo2pwkmejn pl;kodjknsrewkpql[kojn kmklkwoijhbjo2pwkmejn pl;kodjknsrewkpql[kojn kmklkwoijhbjo2pwkmejn pl;kodjknsrewkpql[kojn kmklkwoijhbjo2pwkmejn pl;kodjknsrewkpql[kojn kmklkwoijhbjo2pwkmejn pl;kodjknsrewkpql[kojn kmklkwoijhbjo2pwkmejn pl;kodjknsrewkpql[kojn kmklkwoijhbjo2pwkmejn pl;kodjknsrewkpql[kojn kmklkwoijhbjo2pwkmejn pl;
                </div>

                <div class="buy">
                    <button>Buy</button>
                    <h2>499000 tg</h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
