<div class="block">
    <div class="container main_page_leave_request_container">
        <div class="grace_logo_with_pen"></div>

        <form>
            <h1>Оставить заявку</h1>
            <p>Оставьте заявку на консультацию и получите 10% скидку.</p>

            <div class="inputs">
                <input type="text" placeholder="ФИО">
                <input type="text" placeholder="Номер телефона">
            </div>

            <button type="submit"><span>Оставить заявку</span></button>
        </form>

        <img class="leave_request_background" src="/static/imgs/leave_request_background.png" alt="">
    </div>
</div>