{% extends 'base_body.html' %}

{% block body %}

<span style="display: none" id="page_title">{{ service.name }}</span>
<button style="display: none" onclick="service_page_loaded()" id="page_loaded_js_function"></button>


<div class="block">
    <div class="container service-images">
        <div class="images-list">
            <div class="images">
                {% for image in service.images %}
                <div class="image" style="background-image: url({{ image.image }})"></div>
                {% endfor %}
            </div>
        </div>

        <button class="prev_btn">
            <div class="bar-btt"></div>
            <div class="bar-ttb"></div>
        </button>
        <button class="next_btn">
            <div class="bar-ttb"></div>
            <div class="bar-btt"></div>
        </button>
    </div>
</div>

<div class="block">
    <div class="container service-description">
        <h1>{{ service.name }}</h1>

        {% autoescape off %}
        {{ service.description }}
        {% endautoescape %}
    </div>
</div>

{% include 'request_form.html' %}

{% endblock %}
