<div class="services_list">
    <a href="/service/" class="service_card">
        <div class="service_img" style="background-image: url(/static/imgs/service_img.png);"></div>
        <div class="text">
            <h3>Вывески</h3>
            <p>32 вида</p>
        </div>
    </a>
    <a href="/service/" class="service_card">
        <div class="service_img" style="background-image: url(/static/imgs/service_img2.png);"></div>
        <div class="text">
            <h3>Service Name</h3>
            <p>32 types</p>
        </div>
    </a>
    <a href="/service/" class="service_card">
        <div class="service_img" style="background-image: url(/static/imgs/service_img3.png);"></div>
        <div class="text">
            <h3>Service Name</h3>
            <p>32 types</p>
        </div>
    </a>
    <a href="/service/" class="service_card">
        <div class="service_img" style="background-image: url(/static/imgs/service_img4.png);"></div>
        <div class="text">
            <h3>Service Name</h3>
            <p>32 types</p>
        </div>
    </a>
    <a href="/service/" class="service_card">
        <div class="service_img" style="background-image: url(/static/imgs/service_img5.png);"></div>
        <div class="text">
            <h3>Service Name</h3>
            <p>32 types</p>
        </div>
    </a>
</div>
