{% extends 'base_body.html' %}

{% block body %}

<span style="display: none" id="page_title">Услуги</span>
<button style="display: none" onclick="services_page_loaded()" id="page_loaded_js_function"></button>


<div class="block">
    <div class="container services_info">
        {% if service %}
        <div class="about_service">
            <div class="text">
                <h1>{{ service.name }}</h1>
                <p class="prev_service_link"><a href="/services/{% if service.parent_service_id %}?id={{ service.parent_service_id }}{% endif %}">Назад на {% if service.parent_service_id %}{{ service.parent_service_name }}{% else %}Наши услуги{% endif %}</a></p>
                <div class="description">
                    {% autoescape off %}
                    {{ service.description }}
                    {% endautoescape %}
                </div>
            </div>
            <div class="service_img" style="background-image: url({{ service.poster }})"></div>
        </div>

        <hr>
        {% endif %}

        <div class="services_page">
            {% if service %}
            <h2>Виды</h2>
            {% else %}
            <h2>Наши услуги</h2>
            {% endif %}

            {% include 'services.html' %}
        </div>
    </div>
</div>


{% endblock %}
